<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.circle.dao.ArticleMapper">
    <!--数据表别名-->
    <sql id="tb">react_blog.article</sql>
    <sql id="type">react_blog.type</sql>
    <!--Article映射-->
    <resultMap id="ArticleMap" type="Article">
        <id property="id" column="id"/>
        <result property="typeId" column="type_id"/>
        <result property="title" column="title"/>
        <result property="articleContent" column="article_content"/>
        <result property="introduce" column="introduce"/>
        <result property="addTime" column="addTime"/>
        <result property="lastTime" column="lastTime"/>
        <result property="viewCount" column="view_count"/>
        <association property="type" column="type_id" javaType="Type" select="getType"/>
    </resultMap>
    <select id="getType" resultType="Type">
        select * from <include refid="type"/> where id = #{type_id}
    </select>
    <!--添加文章addArticle-->
    <insert id="addArticle" parameterType="Article">
        insert into <include refid="tb"/>
        (type_id, title, article_content, introduce, addTime, lastTime, view_count)
        value(#{typeId}, #{title}, #{articleContent}, #{introduce}, #{addTime}, #{lastTime}, #{viewCount})
    </insert>
    <!--//删除文章delArticle-->
    <delete id="deleteArticle" parameterType="java.lang.Integer">
        delete from <include refid="tb"/>
        where id = #{articleId}
    </delete>
    <!--修改文章updateArticle-->
    <update id="updateArticle" parameterType="Article">
        update <include refid="tb"/>
        <set>
            <if test="typeId != null">type_id = #{typeId}, </if>
            <if test="title != null">title = #{title}, </if>
            <if test="articleContent != null">article_content = #{articleContent}, </if>
            <if test="introduce != null">introduce = #{introduce}, </if>
            <if test="addTime != null">addTime = #{addTime}, </if>
            <if test="lastTime != null">lastTime = #{lastTime}, </if>
            <if test="viewCount != null">view_count = #{viewCount}, </if>
        </set>
        where id = #{id}
    </update>
    <!--查询所有的文章类型getTypeInfo-->
    <select id="getTypeInfo" resultType="Type">
        select * from <include refid="type"/>
    </select>
    <!--查询所有的文章getArticleList-->
    <select id="getArticleList" resultMap="ArticleMap">
        select * from <include refid="tb"/>
    </select>
    <!--通过文章id查询getArticleById-->
    <select id="getArticleById" resultMap="ArticleMap" parameterType="Integer">
        select * from <include refid="tb"/>
        where id = #{id}
    </select>
    <!--获取相同类型的文章getArticleListByType-->
    <select id="getArticleListByType" resultMap="ArticleMap" parameterType="Integer">
        select * from <include refid="tb"/>
        where type_id = #{type_id}
    </select>
</mapper>