<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.circle.dao.TypeMapper">
    <sql id="type">react_blog.type</sql>
    <!--查询所有的文章类型getTypeInfo-->
    <select id="getTypeInfo" resultType="Type">
        select * from <include refid="type"/>
    </select>
</mapper>